@use '../mixins';

.address-search-form {
  @include mixins.form;
  grid-column: 8 / span 3;
  grid-row: 1 / span 1;

  .address-search-form__grid {
    grid-template-columns: minmax(0, 1fr);
    grid-auto-rows: max-content;
  
    .address-search-form__form-el-wrapper {
      @include mixins.form-el-wrapper;

      .address-search-form__input {
        @include mixins.form-el;
      }

      .address-search-form__select {
        @include mixins.form-el;
      }

      .address-search-form__label {
        @include mixins.label;
      }

      .address-search-form__input:focus, 
      .address-search-form__input:valid, 
      .address-search-form__select:focus, 
      .address-search-form__select:valid {
        border-color: white;
        outline: none;
      }

      .address-search-form__input:focus + label, 
      .address-search-form__input:valid + label, 
      .address-search-form__select:focus + label, 
      .address-search-form__select:valid + label {
        font-size: .75rem;
        padding: .25rem 1rem;
      }
    }
  }
}


