.input {
  padding-bottom: 2rem;
  position: relative;
}

@mixin input__input {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 4px;
  font-family: 'Poppins';
  font-size: .875em;
  height: 3rem;
  padding: 1.25em 1em .25em;
  position: relative;
  width: 100%;
  z-index: 1;
}

.input__input {
  @include input__input;
}

.input__input:focus + label, .input__input:valid + label, .input__textarea:focus + label, .input__textarea:valid + label {
  font-size: .75rem;
  padding: .25rem 1rem;
}

.input__input:focus, .input__input:valid, .input__textarea:focus, .input__textarea:valid {
  border-color: white;
  outline: none;
}

.input__label {
  border: 1px solid transparent;
  color: black;
  font-family: 'Poppins';
  font-size: 1rem;
  height: 100%;
  left: 0;
  padding: 1em 1em .5em;
  position: absolute;
  top: 0;
  transition: padding .25s, font-size .25s;
  width: 100%;
  z-index: 0;
}

.input__submit {
  background-color: black;
  border: none;
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  font-family: 'Poppins';
  height: 3rem;
  padding-bottom: 0;
  width: 100%;
}

.input__textarea {
  @include input__input;
  height: 9rem;
}