.library-books-new {
  background-color: #F2CA52;
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
  overflow-y: scroll;
  z-index: 0;
}

.library-books-new-grid {
  grid-auto-columns: calc(var(--max-width-1440px) / 6);
  grid-template-rows: max-content;;
}