.library-card__charter {
  font-family: serif;
  font-size: 6rem;
  line-height: 1em;
  overflow-wrap: break-word;
}

.library-card__name {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  line-height: 1em;
}